<!DOCTYPE html>
<html lang="en" ng-app="plytics">
<head>
<meta charset="utf-8">
<title>Components · Bootstrap</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"-->
<link href="lib/bootstrap/css/font-awesome.min.css" rel="stylesheet">
<link href="lib/bootstrap/css/bootswatch.min.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="lib/bootstrap/js/html5shiv.js"></script>
      <script src="lib/bootstrap/js/respond.min.js"></script>
    <![endif]-->
<link href="lib/jquery/css/jquery-ui-1.10.3.css" rel="stylesheet">

<script src="lib/jquery/jquery-2.0.3.js"></script>
<script src="lib/jquery/jquery-ui-1.10.3.js"></script>

<!-- required by date formating mo-date-input -->
<script src="lib/moment/moment_2.1.0.js"></script>
    
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-cookies.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="lib/angular/date.js"></script>

<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/bootstrap/js/bootswatch.js"></script>


<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

<!-- 
Bootstrap template based on http://bootswatch.com/spacelab/
 -->
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container" ng-controller="AppInfoCtrl">
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in navList" ng-class="{active:item.active}">
                        <a href="#{{item.url}}">{{item.title}}</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8"
                        placeholder="Search">
                </form>
                <ul class="nav navbar-nav navbar-right" ng-controller="UserCtrl">
                    <li ng-show="user.admin"><a href="#/register">Admin</a></li>
                    <li ng-if="!user.loggedIn"><a href="#/login">Login</a></li>
                    <li ng-if="user.loggedIn"><a href="#" ng-click="user.logout()">Logout</a></li>
                    <!-- li class="dropdown"><a href="#" class="dropdown-toggle"
                        data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul></li-->
                </ul>
            </div>
        </div>
    </div>

    <div ng-view=""></div>

</body>
</html>