<div class="container" ng-controller="RegisterCtrl">
    <div class="col-lg-6">
        <div class="well">
            <form class="bs-example form-horizontal css-form" name="registerForm" novalidate ng-submit="register()">
                <fieldset>
                    <legend>Register</legend>
                    
                    <div ng-repeat="field in formDefs.register" ng-form="registerFormInner">
                        <div class="form-group" ng-class="{'has-error': registerFormInner.fieldName.$invalid}">
                            <ng-include src="'elements/form-fields.html'" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit"
                                    class="btn btn-primary"
                                    ng-disabled="registerForm.$invalid">
                                Register
                            </button>
                            
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
