<!DOCTYPE html>
<html ng-app="plytics">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Login</title>
   <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" title="default" />
   <!--  jquery core -->
   <script src="js/jquery/jquery-1.4.1.min.js"></script>

   <!-- Custom jquery scripts -->
   <script src="js/jquery/custom_jquery.js"></script>

   <script src="lib/angular/angular.js"></script>
   <script src="lib/angular/angular-cookies.js"></script>
   <script src="lib/angular/angular-resource.js"></script>
   <script src="lib/angular/angular-sanitize.js"></script>

   <script src="js/app.js"></script>
   <script src="js/controllers.js"></script>
   <script src="js/services.js"></script>
   <script src="js/openblend.js"></script>

   <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
   <script src="js/jquery/jquery.pngFix.pack.js"></script>
   <script>
      $(document).ready(function(){
         $(document).pngFix( );
      });
   </script>
</head>
<body id="login-bg"> 
 
<!-- Start: login-holder -->
<div id="login-holder" ng-controller="LoginCtrl">

	<!-- start logo -->
	<div id="logo-login">
		<a href="index.html"><img src="images/shared/logo.png" width="156" height="40" alt="" /></a>
	</div>
	<!-- end logo -->
	
	<div class="clear"></div>

	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">

    <div class="alert alert-block alert-error" ng-show="failed">Failed to login!</div>

	<!--  start login-inner -->
	<div id="login-inner">
      <form ng-submit="login()">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>Username</th>
			<td><input type="text" name="username" class="login-inp" ng-model="username"/></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="password" onfocus="this.value=''" class="login-inp" ng-model="password"/></td>
		</tr>
		<tr>
			<th></th>
			<td valign="top"><input type="checkbox" class="checkbox-size" id="login-check" /><label for="login-check">Remember me</label></td>
		</tr>
		<tr>
			<th></th>
			<td><input type="submit" value="Login" class="submit-login"  /></td>
		</tr>
		</table>
      </form>
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
   <div class="login-links">
   <a href="register.html" class="register">Register</a>
      &nbsp;|&nbsp;
	<a href="" class="forgot-pwd">Forgot Password?</a>
   </div>
 </div>
 <!--  end loginbox -->
 
	<!--  start forgotbox ................................................................................... -->
	<div id="forgotbox">
		<div id="forgotbox-text">Please send us your email and we'll reset your password.</div>
		<!--  start forgot-inner -->
		<div id="forgot-inner">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>Email address:</th>
			<td><input type="text" value=""   class="login-inp" /></td>
		</tr>
		<tr>
			<th> </th>
			<td><button type="submit" class="submit-login"  /></td>
		</tr>
		</table>
		</div>
		<!--  end forgot-inner -->
		<div class="clear"></div>
		<a href="" class="back-login">Back to login</a>
	</div>
	<!--  end forgotbox -->

</div>
<!-- End: login-holder -->
</body>
</html>