<!DOCTYPE html>
<html ng-app="plytics">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Register</title>
   <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" title="default" />

   <script src="lib/angular/angular-scenario.js"></script>
   <script src="lib/angular/angular.js"></script>
   <script src="lib/angular/angular-cookies.js"></script>
   <script src="lib/angular/angular-resource.js"></script>
   <script src="lib/angular/angular-sanitize.js"></script>

   <script src="js/jquery/jquery-1.4.1.min.js"></script>
   <!-- Custom jquery scripts -->
   <script src="js/jquery/custom_jquery.js"></script>

   <script src="js/app.js"></script>
   <script src="js/controllers.js"></script>
   <script src="js/services.js"></script>
   <script src="js/openblend.js"></script>

   <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
   <script src="js/jquery/jquery.pngFix.pack.js"></script>
   <script>
      $(document).ready(function(){
         $(document).pngFix( );
      });
   </script>
</head>
<body id="register-bg">

<!-- Start: register-holder -->
<div id="register-holder" ng-controller="RegisterCtrl">

   <!-- start logo -->
   <div id="logo-register">
      <a href="index.html"><img src="images/shared/logo.png" width="156" height="40" alt="" /></a>
   </div>
   <!-- end logo -->

   <div class="clear"></div>

   <!--  start registerbox ................................................................................. -->
   <div id="registerbox">

      <!--  start register-inner -->
      <div id="register-inner">
         <form ng-submit="register()">
            <table border="0" cellpadding="0" cellspacing="0">
               <tr>
                  <th><label for="username">Username</label></th>
                  <td><input type="text" id="username" name="username" class="register-inp" ng-model="u.username" /></td>
               </tr>
               <tr>
                  <th><label for="email">E-mail</label></th>
                  <td><input type="text" id="email" name="email" class="register-inp" ng-model="u.email"/></td>
               </tr>
               <tr>
                  <th><label for="name">Name</label></th>
                  <td><input type="text" id="name" name="name" class="register-inp" ng-model="u.name"/></td>
               </tr>
               <tr>
                  <th><label for="lastname">Last Name</label></th>
                  <td><input type="text" id="lastname" name="lastname" class="register-inp" ng-model="u.lastName"/></td>
               </tr>
               <tr>
                  <th><label for="password">Password</label></th>
                  <td><input type="password" id="password" name="password" onfocus="this.value=''" class="register-inp" ng-model="u.password"/></td>
               </tr>
               <tr>
                  <th></th>
                  <td><input type="submit" value="Register" class="submit-register"  /></td>
               </tr>
                <tr></tr>
            </table>
         </form>
      </div>
      <!--  end register-inner -->
      <div class="clear"></div>
   </div>
   <!--  end registerbox -->

</div>
<!-- End: register-holder -->
</body>
</html>